body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, rgb(14, 9, 9), rgb(75, 70, 70) 5%, rgb(48, 69, 25));
    opacity: .9;
}

/*titulo*/
.titulo {
    text-align: center;
}

/*matriz del juego*/
.matriz {
    height: 400px;
    width: 400px;
    display: grid;
    border-radius: 4.5%;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid rgb(200, 184, 184);
    opacity: .5;
    gap: 3px;
    box-shadow: -10px 10px 35px 3px rgba(188, 206, 208, 0.75);
}

.celda {
    border: 1px solid rgb(237, 173, 173);
    border-radius: 10%;
}

.celda:hover {
    transition: .2s;
    border: 4px solid rgb(185, 124, 124);

}

.container-tateti {
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 25px;
}

/* sonbra para la base de la matrtiz*/
.division {
    border-top: none;
    border-bottom: 7px dotted rgb(222, 217, 217);
}